.logo{
  color: rgb(0, 0, 0);
  font-size: 35px;
  text-decoration: underline;
}

.logo span {
  color: rgb(0, 238, 255);
  background-color: darkred;
  border-radius: 5px;
  text-decoration: underline;
}

.papa{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
}

